.last_update {
  font-size: small;
}

.description {
  font-size: medium;
}

.decision {
  font-size: 12;
}

@charset "utf-8";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-4-spacers";
@import 'bootstrap-datetimepicker';
